.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to top, #fff3e0 80%, #aedd9d 20%);
    border-radius: 8px;
    width: 400px;
    min-height: 600px;
    text-align: center;
    box-sizing: border-box;

    .quizz_button {
      margin-bottom: 50px;
      width: 100px;
      height: 30px;
      border-radius: 20px;
      border: 1px solid grey;
      background-color: rgba(128, 197, 103, 0.62);
      cursor: pointer;

      &:hover {
        box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.5);
      }
    }

    .question {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .quizz_header {
      margin: 0;
      padding: 30px 10px 10px 10px;
      flex-direction: row;
      justify-content: center;
      color: rgb(56, 53, 53);

      h1 {
        margin: 20px 0 0 0;
        font-size: 28px;
      }
      .close {
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: #aedd9d;
        border: none;
        cursor: pointer;
      }
      .close:hover {
        stroke: red;
      }
    }

    label {
      font-size: 22px;
      color: rgb(56, 53, 53);
      font-family: "Quattrocento Sans", sans-serif;
      margin-bottom: 30px;
    }

    input,
    select {
      width: 150px;
      border-radius: 2px;
      height: 25px;
      margin: 15px 0;
      border: 1px solid grey;
    }

    .flight_button {
      width: 100px;
      border-radius: 5px;
      height: 25px;
      margin: 20px;
      background-color: #e4bb78;
      cursor: pointer;
    }

    .flight_select {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .label_flight {
      margin: 0;
    }

    .flight_input {
      margin-left: 10px;
    }
  }
}

@media screen and (min-width: 768px) {
  .modal {
    .content {
      width: 800px;
      .quizz_header {
        .close {
          right: 10px;
          top: 10px;
        }
      }
    }
  }
}
