.Popup {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    position: relative;
    background: white;
    border-radius: 8px;
    width: 350px;
    min-height: 400px;
    padding: 20px 10px;
    text-align: center;
    box-sizing: border-box;

    .header {
      margin: 0;
      padding: 10px;
      justify-content: flex-end;
      right: 20px;

      .close {
        color: red;
        position: relative;
      }
    }
  }
}
