.final_result {
  text-align: center;
  margin-top: 50px;

  .img_level {
    margin-bottom: 30px;
    width: 20%;
  }

  .conclusion {
    margin: 20px 100px;
  }

  .axes {
    margin: 20px 100px;
    text-align: start;
  }
}
