@import url("https://fonts.google.com/share?selection.family=Quattrocento");

.bio {
  font-family: Quattrocento;
  font-size: 14px;
  color: rgb(0, 0, 0);
  margin: auto;
  width: 70%;
  text-align: justify;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .bioGP {
    font-size: large;
  }
}
